/* ------------------------------------------------------------|
| MAIN COMPONENTS
*-------------------------------------------------------------*/

body {
    font-family: Montserrat, Arial, serif;
    height: 100%;
}

a {
    color:inherit;
    text-decoration: none;
}

p {
    line-height: 1.4rem;
}


/* ------------------------------------------------------------|
| PARTICLEJS
*-------------------------------------------------------------*/

#particles-js {
    width: 100%;
    height:100vh;
    position: absolute;
    top:0;
    left:0;

}

/* ------------------------------------------------------------|
| SECTIONS
*-------------------------------------------------------------*/

section {
    background-color: #edfbff;
    width: 100%;

}

.section-cta {
    position:relative;
    top:0;
    left:0;
}

/*Section Background Paralax Effect*/
.paralax {
    /* The image used */
    background-image: url("../img/background.jpg");

    width: 100%;
    /*Align section-title in middle*/

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* SECTIONS =========================================== */

.section-skills {
    background-color: white;
    min-height: 35vh;
}


.section-my-work {
    background-color: #f5f5f5;
    min-height: 100vh;
    padding-bottom: 1rem;

}

.paralax header h2{
    color: #edfbff;
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    padding-top: 35vh; /*Go to center position*/
    text-align: center;
}

/* END SECTIONS =========================================== */

.section-scroll {
    padding-top: 90vh;
}

.section-cta {
    margin-top: 10vh;
}

.section-title {
    color: #6d6a75;
    font-weight: 600;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 6vh;

}

.section-subtitle {
    font-weight: 300;
    font-size: 1.2rem;
    padding-top: 1rem;
    /*margin-bottom: 5rem;*/
}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    .section-title {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .section-subtitle {
        font-size: 1rem;
    }
}

.section-container {

    margin-bottom: 1rem;

    width: inherit;

    min-height: 30vh;

    /*width: inherit;*/
    /*min-height: 30rem;*/
    /*background-color:blue;*/

    display: flex;
    align-items: center;
    justify-content: center;;

    /*border-color:gray;*/
    /*border-style: solid;*/
    /*border-width:1px;*/

}

/* WRAPPER BORDER =========================================== */

.wrapper-border {
    padding-left: 6vw;
    padding-right: 6vw;
}

.wrapper-border-small {
    padding-left: 3vw;
    padding-right: 3vw;
}

/* SECTION BOX =========================================== */

.section-box-wrapper {

    /*border: solid 1px silver;*/
    margin-bottom: 4rem;
}

.section-box {
    /*border: solid 1px hotpink;*/

    padding: 0 1rem 0 1rem;
}

.section-box h1 {
    padding: 1rem 0 1rem 0;
    color: #393E41;
    font-weight: bolder;
    font-size: 1.6rem;
}

.section-box p {
    color: #7D7B84;
    font-size: .9rem;
    padding: 0 0 2rem 0;
}

.section-box img {
    padding-top:1rem;

    /* center img =========================================== */
    margin: 0 auto;
    display: block;

    /* responsive img =========================================== */
    max-width: 100%;
    height: auto;

}

.section-my-work header .section-title {
    padding-bottom: 4rem;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: inline-block;
}

/* ------------------------------------------------------------|
| DESKTOP ONLY CODE
*-------------------------------------------------------------*/

@media screen and (min-width: 700px) {

    .section-container {
        margin-bottom: 10rem;
    }

    .section-my-work {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* ------------------------------------------------------------|
| MOBILE ONLY CODE
*-------------------------------------------------------------*/

@media screen and (max-width: 700px) {

    .mobile-only {
        display: inline-block;
    }

    .desktop-only {
        display: none;
    }

    .section-subtitle {
        margin-bottom: 0;
    }

    .section-container {
        display: inline-block;
    }

    .section-box {
        width: 100%;
        min-height: 30vh;
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .section-box > p {
        text-align: center;
    }

    .section-box > img {
        width: 100%;
        height: 100%;

    }

}

/* ------------------------------------------------------------|
| EDUCATION
*-------------------------------------------------------------*/

.section-education {
    background-color: white;
    min-height: 29rem;
}


.education-box {
    background-color:#F5F5F5;
   width:100%;
    height:auto;
    min-height: 12rem;
    margin-top:2rem;
    padding:2rem;
    background-image: url("../img/shape.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;

}

.education-box-title h2{
    font-weight: bolder;
    color:#393E41;
    font-size:1rem;
}

.education-box-title p{
    font-weight: normal;
    color:#000000;
    font-size:.7rem;
}

.education-box-content h1{
    font-weight: bolder;
    color:#393E41;
    font-size:1rem;
}

.education-box-content p{
    font-weight: normal;
    color:#6D6A75;
    font-size:.8rem;
    margin-top:1rem;
}



/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    .education-box-wrapper {
        padding-left:1rem;
        padding-right:1rem;
    }

    .education-box {
        padding:1rem;
    }


}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 700px) {

    .education-box-wrapper {
        width:75%;
        margin-top:2rem;
        padding-left:11rem;
        padding-right:0;
        margin-left:-11rem;
    }

}



/* ------------------------------------------------------------|
| INTERESTS
*-------------------------------------------------------------*/

.section-interests {
    background-color: white;
    min-height: 50rem;
}


.interests-box {
    background-color:#F5F5F5;
    width:100%;
    height:auto;
    min-height: 12rem;
    margin-top:2rem;
    padding:2rem;
    background-image: url("../img/shape-down.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;

}

.interests-box-title h2{
    font-weight: bolder;
    color:#393E41;
    font-size:1rem;

}

.interests-box-title p{
    font-weight: normal;
    color:#000000;
    font-size:.7rem;
}

.interests-box-content h2{
    font-weight: bolder;
    color:#6D6A75;
    font-size:1rem;

}

.interests-box-content p{
    font-weight: normal;
    color:#6D6A75;
    font-size:.8rem;
    margin-top:1rem;
    margin-bottom:2rem;
}




/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    .interests-box-wrapper {
        padding-left:1rem;
        padding-right:1rem;
    }

    .interests-box {
        padding:1rem;
    }


}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 700px) {

    .interests-box-wrapper {
        width:75%;
        margin-top:2rem;
        padding-left:11rem;
        padding-right:0;
        margin-left:24rem;
    }



}



    /* ------------------------------------------------------------|
    | SKILLS
    *-------------------------------------------------------------*/

.skill-wrapper {

    width: inherit;
    min-height: 30rem;

    display: inline-block;
    float: left;
    margin-top: 2rem;

    padding-bottom: 4rem;
    /*border-color:red;*/
    /*border-style: solid;*/
    /*border-width:1px;*/

}

.skill {
    display: inline-block;
    float: left;

    /*width: 40vw;*/
    width: 33.33%;
    min-height: 20vh;

    margin-bottom: 2rem;
    text-align: center;
    padding-top: 2rem;

    /*border-color:red;*/
    /*border-style: solid;*/
    /*border-width:1px;*/

}

.skill-icon {
    margin-bottom: .5rem;
    min-height: 76px;
}

.skill-title {
    color: #393e41;
    font-size: 1.3rem;
    font-weight: bolder;
}

.skill-description {
    line-height: 1.4rem;

    padding: 1.5rem 8vw;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    .skill-wrapper {
        display: inline-block;
    }

    .skill {
        width: 100%;
        /*padding-left:4rem;*/
        /*padding-right:4rem;*/
    }

    .skill-description {
        margin-left: 6vw;
        margin-right: 6vw;

    }
}


/* ------------------------------------------------------------|
| FOOTER
*-------------------------------------------------------------*/

footer {
    width: 100%;
    height:33vh;
    background-color:#393E41;
    background-image: url("../img/background-shape.png");
    background-position:initial;
    background-size: cover;
}


/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    footer {
        margin-top: 2rem;
    }

}



.contact-wrapper {
    width:auto;
    margin-left:12%;
    margin-top:3vw;
    color:white;
}

.contact-wrapper h1 {
    color:#898693;
    font-weight: bolder;
    font-size:1.3rem;
    padding-bottom: 1.5rem;
}

.contact-wrapper ul li img {
    position:relative;
    top:0.4rem;
    left:0;
}

.contact-wrapper ul li{
    /*border: solid 1px hotpink;*/
    margin-bottom: 0.6rem;

}

.contact-text {
    margin-left:0.5rem;
}






